@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(fonts.css);
@layer components{

  .listitem{
    @apply text-lightsaturate hover:text-shadedpink p-5  text-[1.5625rem]  leading-[1.5625rem];
  }
  .logo{
    @apply my-5 mx-4 py-2 px-3 transform  md:scale-90 items-center lg:transform-none lg:scale-0
  }
  .itemlink{
    @apply text-sm font-Fraunces72ptsupersoft text-shadedorange mr-7 py-2 flex flex-col
  }
 
  .textbox{
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
  /* .btn{
    transition: 2s;

    

  }
  .btn:hover{
    background-color: indigo;
    transform: rotate(180deg);
    transition-timing-function: ease-in-out;
    
  
  } */
/* .drive{
  animation-name: drive;
  animation-duration: 5s;
 
}
@keyframes drive{
  from{ transform: translateY(hidden);}
  to{transform: translateY(0%);}
} */
/* .anim{
  animation-name: movetop;
  animation-duration: 1s;


}
  

@keyframes movetop{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
} */
}